# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GPCA-VR.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\OnCra\Documents\Unity Projects\GPCA-VR\.idea\.idea.GPCA-VR\.idea/dataSources/
/dataSources.local.xml
